body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img{
    width: 150px;
    margin-bottom: 5px;
}

#site_header{
    background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 60px;
}

/* UTILITY */
.center_size{
    text-align: center;
}
.pt_30{
    padding-top: 30px;
}
.pxy_20{
    padding: 20px;
}
.py_5{
    padding: 5px 0;
}
.py_30{
    padding: 30px 0;
}

.px_30{
    margin: 0 30px;
}

.pxr_25{
    padding-right: 25px;
}
.pxl_25{
    padding-left: 25px;
}
.px_10{
    padding: 0 10px;
}

.plx_10{
    margin-left: 10px;
}

.pdbt_20px{
    padding-bottom: 20px;
}
.my_20{
    margin: 0 20px;
}
.my_40{
    margin: 40px 0;;
}
.mt_40{
    margin-top: 40px;
}
.mt_20{
    margin-top: 20px;
}

.bg_white{
    background-color: white;
}
.bg_grey{
    background-color: #F3F5F9;
}

.bg_blue_dark{
    background-color: #0047c5;
}
/* UTILITY */

/* HEADER */
.navbar-light .navbar-nav .active>.nav-link{
    color: #031C4E;
}
.fa-chevron-down{
    color: #031C4E;
    font-size: 12px;
    
}
.container.header_content {
    padding: 40px;
    margin:0 auto;
}

.deploy {
    border-radius: 10px;
}

.txt_center{
    text-align: center;
}

.button{
    text-align: center;
}

.txt_color_w{
    color: white;
}

.txt_color_g{
    color: lightgray;
    width: 90%;
}

button.btn.btn-secondary{
    font-weight: bold;
    color: #006afd;
    background-color: white;
    border-color: #006afd;
}

.link_container{
    margin: 0 auto;
    text-align: center;
}
.sign_up_google{
    position: relative;
}
.link_container img{
    position: absolute;
    top:50%;
    left: 10px;
    transform: translateY(-50%);
    height: 20px;
}
.form_link{
    padding: 10px;
    border: 1px inset white;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bg_link_blue{
    color: white;
    font-weight: bold;
    background-color: #579AFF;

}

.bg_link_white{
    color: #7D88A1;
    font-weight: bold;
}

.bg_section{
    background-color: #F3F5F9;
}
/* HEADER */


/* Site main rules */

 /* INNOVATIVE BUSINESS SECTION  */

#innovative_businesses img{
   height: 50px;
}

.logos h4{
    text-align: center;
    color: #7D88A1;
    text-transform: uppercase;
}

.customer_link {
    width: 100%;
    font-weight: bold;
    color: #579AFF;
    text-decoration: none;
    text-align: center;
}

 /* DEPLOY SECTION  */
 
 #deploy_section img{
     height: 30px;
     margin-bottom: 10px ;
}
.deploy_and_scale h2{
    color: #031C4E;
}

.deploy_and_scale p{    
    color: #6C7894;
}

.row_items{
    margin-top: 30px;
}
.row_items h6{
    color: #031C4E;
    font-weight: bold;
}
.row_items p{
    color: #6C7894;
}
.list_item ul{
    list-style: none;
    border-left: 1px solid #7D88A1;
    padding-left: 10px ;
}

.list_item ul li{
    padding: 5px 0;
    color: #7D88A1;
}


 /* DEVELOPERS SECTION  */

#developers_section h2{
    color: #031C4E;
}
#developers_section .txt_top{
    color: #6C7894;
}
#developers_section .txt_bottom {
    color: #031C4E;
    font-weight: bold;
    margin: 20px;
}
.screenshot_img img{
    width: 37% ;’
}
.circle{
  height:15px;
  width:15px;
  border-radius:50%;
  display: inline-block;
  border: 1px solid #66A4FC;
}

.circle.blue{
    background-color: #006AFF;
}

.chevron_leftide.middle_left{
    left: 30% !important;
}
.chevron_rightside.middle_right{
    right: 30% !important;
}
/* CUSTOMERS SERVICE */

#customers_data {
    padding-bottom: 4rem;
}
#customers_data .title{
    padding-top: 4rem;
}
#customers_data h2{
    color: white;
}
.border_bottom{
    border-bottom: 1px solid grey;
}

.city_pseudo{
    color: #cdd8f0;
    font-size: 14px;
    line-height: 24px;
}

.city_name{
    color: #a1b4e3;
}

.test_speed{
    color: green;
}

.city_name,
.test_speed{
    font-size: 12px;
    line-height: 24px;
}

.chev_test_speed{
    font-size: 7px;
    display: inline;
    vertical-align: middle;
}

/* ROCKERBOX SECTION */

#rockerbox_section h2{
    color: #031C4E;
    padding: 30px 0 ;
}
.rockerbox{
    display: inline-block;
    padding: 40px 0;
    width: 50%;
    border-radius: 10px;
}
.p_color_dark{
    color: #031C4E
}
.p_color{
    padding: 10px 0;
    color: #6C7894;
}
.p_color_founder{
    color: #6C7894;
}

.special_p{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}
#rockerbox_section .img_container_w{
    width: 100%;
}
#rockerbox_section .rockerbox img{
   height: 25px;
}
.content_container_bottom{
    position: relative;
}
.chevron_leftide{
    position: absolute;
    top: 50%;
    left: 20%;
    height: 30px;
    width: 30px;
    color: #6F7B97;
    padding-right: 5px;
}
.chevron_rightside{
    position: absolute;
    top: 50%;
    right: 20%;
    height: 30px;
    width: 30px;
    padding-left: 5px;
}

.rockerbox a{
    margin-bottom: 40px;
}

/* GET STARTED SECTION */

#get_started h2{
    color: white;
}

#get_started .btn{
    margin: 20px 0;
    color: #006AFF;
    background-color: white;
}

/* FOOTER */

#site_footer{
    background-color: hsl(220,95%,8%);
}

#site_footer .list-group-item {
    padding: 2px 0;
    background-color: transparent ;
    color: white;
    border-bottom: none;
    text-transform: capitalize;
}

#site_footer .list-group-item h5 a{
    color:white;
}

.list-group-item.spcial_color a{
    color: #6C7894;
}

.icons i{
    text-align: left;
}

.color_footer_{
    color: #6C7894;
}
.color_footer_ny{
    color: #7D88A1;
}
footer{
    position: relative;
}
footer .bot{
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 82px;
}
footer img{
height: 40px;
}
footer .bot{
    background-color: #579AFF;
    display: inline-block;
}

.box_bot {
    background:white;
    border-radius: 10px;
    width:250px;
    height:50px;
    position: absolute;
    display: inline-block;
    bottom: 13px;
    right: 105px;
}

.box_bot:after {
    content:"";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 10px;
    left: 245px; /* 1px buffer for zooming problems while rendering*/
    border-width: 15px;
    border-color: transparent white transparent transparent;
    border-style: solid;
    transform:rotate(180deg);
}

.screenshot_img img{
    height: 150px ;
}
#rockerbox_section .rockerbox img{
    height: 20px;
}
/* MEDIA QUERY */

@media screen and (max-width:400px){
    .chevron_leftide,
    .chevron_rightside,
    .chevron_rightside.middle_left,
    .chevron_rightside.middle_right{
        display: none;
    }
}

@media screen and (min-width:200px) and (max-width:576px) {
    footer .bot{
        position: absolute;
        bottom: 80px;
        left: 10px;
    }
    .box_bot{
        left: 10px;
    }
}





