body{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand img{
    width: 150px;
    margin-bottom: 5px;
}

#site_header{
    background-image: url("../img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-size: cover;
    height: 800px;
}

/* UTILITY */
.pxy_20{
    padding: 20px;
}

.my_20{
    margin: 0 20px;
}

.py_30{
    padding: 30px 0;
}
.pt_30{
    padding-top: 30px;
}
.bg_white{
    background-color: white;
}

.bg_grey{

    background-color: #F3F5F9;
}
/* UTILITY */

/* HEADER */
.container.header_content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.deploy {
    border-radius: 10px;
}

.txt_center{
    text-align: center;
}

.button{
    text-align: center;
}

.txt_color_w{
    color: white;
    width: 50%;
}

.txt_color_g{
    color: grey;
    width: 90%;
}

button.btn.btn-secondary{
    font-weight: bold;
    color: #006afd;
    background-color: white;
    border-color: #006afd;
}

.link_container{
    margin: 0 auto;
    text-align: center;
}
.form_link{
    padding: 10px;
    border: 1px inset white;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bg_link_blue{
    color: white;
    font-weight: bold;
    background-color: #579AFF;

}

.bg_link_white{
    color: black;
    font-weight: bold;
}

/* HEADER */










/* Site main rules */



#customers_data .title{
    padding-top: 4rem;
}

.logos h4{
    text-align: center;
    color: #7D88A1;
    text-transform: uppercase;
}

.customer_link {
    width: 100%;
    font-weight: bold;
    color: #579AFF;
    text-decoration: none;
    text-align: center;
}

.deploy_and_scale h2{
    color: #031C4E;
    font-weight: ;
}

.deploy_and_scale p{
    color: #6C7894;
}

.row_items{
    margin-top: 40px;
}
._card{
    width: 40%;
    display: inline-block;
}

._card img{
    height: 35px;
    margin-bottom: 5px;
}

.list_item ul{
    list-style: none;
    border-left: 1px solid #7D88A1;
    padding-left: 10px ;
}

.list_item ul li{
    padding: 5px 0;
    color: #7D88A1;
}

